<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Closing session...</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row p-5" style="background-color: #cffff6;">
            <div class="col-3">
                <h1>Library</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 pt-3">
                <h2>Your session was closed</h2>
            </div>
            <div class="col-12">
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>   
                <a class="btn btn-primary" href="{% url 'home' %}"><i class="bi bi-house"></i></a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>